* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}



#myVideo {
  position: fixed;
  min-width: 100%; 
  min-height: 100%;
  z-index: -1;
}



.container {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

input {
  height: 50px;
  width: 400px;
  max-width: 600px;
}



