* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}



#myVideo {
  position: fixed;
  min-width: 100%; 
  min-height: 100%;
  z-index: -1;
}



.container {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

input {
  font-family: 'Radio Canada', sans-serif;
  height: 50px;
  width: 350px;
  max-width: 600px;
  border-radius: 15px;
  border: none;
  padding: 10px;
  background: white;
  color: black;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

input:focus {
  outline: none;
  border: none;
}

.btn {
border-radius: 15px;
}

.btn:active {
  outline: none;
  border: none;
}



