


#map {
    height: 200px;
    width: 70%;
  
}


.d-flex {
  padding: 2px;
}

a {
  margin-left: calc(10px 60%);
  width: 60%
}

.back {
  display: flex;
  align-items: center;
  justify-content: center;
}

